@font-face {
    font-family: 'Raleway';
}
@font-face {
    font-family: 'Lato';
}
@font-face {
    font-family: 'Monserrat';
    font-weight: bold;
}

body {
    margin: 0;
    text-align: justify;
    color: #003D4C;
    font-family: 'Lato';
}
nav {
    display: table;
    width:100%;
    position: relative;

}
.navbar {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1.2px solid #003D4C;
    border-top: 1.2px solid #003D4C;
}
nav ul, footer ul {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: .78em;
    color: #003D4C;
    text-transform: uppercase;
    padding: 1px;
    list-style: none;
    text-align: center;
    width: 60%;
    margin: 16px auto;
}
nav > ul > li, footer > ul > li {
    display: inline;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -5px;
    background-color: white;
}
nav a {
    color: #003D4C;
}
nav a:hover {
    color: #9DDCDC;
}

div.container {
    width: 60%;
    text-align: justify;
    margin: 0 auto; 
}
.header{
    position: relative;
    float: center;
    text-align: center;
}
.header-image {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  margin-top:15px;
  margin-bottom: 20px;
  }
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bio {
    position: relative;
    width: 100%;
}
.bio-text {
  position: absolute;
  left:31%;
  width:69%;
}
.testimonial {
    position: relative;
    color: #003D4C;
    margin-bottom: 26px;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 55%);
}
a:hover {
    text-decoration: none;
    color: #9DDCDC;
}
a.active {
    color: #9DDCDC;
}

a.title {
    font-size:1.5em;
}
td.subheading {
    font-size:1.504em;
    text-align: left;
    vertical-align: top;
}
img.icon {
    -moz-border-radius:5px;
    border-radius: 5px;
    float: bottom;
    margin-left: 0px; 
    margin-right: 0px; 
    margin-top: 0px; 
    width: 60px
}
a.full-pic {
    -moz-border-radius:10px;
    border-radius: 10px;
}
a.link {
    font-size:1em;
    vertical-align: middle;
}
h1 {
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: .18em;
    color: white;
}
h1.subheading {
    letter-spacing: 0.1em;
    font-size: 2em;
}
h2 {
    font-size: 1.3em;
    color: #003D4C;
}

p {
    font-family: Lato, sans-serif;
    font-size: 1.16em;
    font-weight: light;
    line-height: 1.2em;
    color: #003D4C;
    text-align: justify;
}
p.quote {
    font-style: italic;
}
p.reviewer {
    font-size: 1em;
    text-align: left;
    font-weight: bolder;
}

ul li, ol li {
    font-size: 1.5em;
    line-height: 1.2em;
    color: #003D4C;
}